version: '3.9'
services:
  # 데이터베이스 추가
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=petclinic
      - POSTGRES_PASSWORD=petclinic
      - POSTGRES_DB=petclinic

  # 애플리케이션
  spring-petclinic:
    image: eunyoung11/spring-petclinic:v2
    container_name: spring-petclinic
    ports:
      - "8080:8080"
    depends_on:
      - db  # DB가 뜬 후 앱 실행
